#py-internal-0-1 {
  display: none;
}

.background {
    background-color: #A2FAF4;
}

.title {
  font-size: 100px;
  text-shadow: white 2px 4px 2px;
  color: #FACDE5;
  font-weight: bold;
}

.card-margin {
  border: 1rem solid #FACDE5 !important;
}

.docker {
/*  background-color: #FACDE5;*/
  height: 80px;
  border-radius: 10px;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background-color: white;
}

.fa-icon {
  font-size: 40px;
  margin: 20px;
  color: #FACDE5;
}

footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

/*
cloud inspiration
https://lauryndbrown.github.io/2017/06/08/creating-clouds-in-css.html
*/
.cloud {
  position:absolute;
  width:175px;
  height:60px;
  background:#ECEFF1;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
  border-radius:100px;
  z-index: -999;
}

.cloud::after, .cloud::before{
  content:"";
  position:relative;
  display:inline-block;
  background:inherit;
  border-radius:inherit;
  z-index: -999;
}

.cloud:before{
  width:90px;
  height:90px;
  top: -35px;
  left:65px;
  z-index: -999;
}

.cloud:after{
  width:50px;
  height:50px;
  top:-110px;
  left:25px;
  z-index: -999;
}

.medium-star{
  position:absolute;
  width:3.5em;
  font-size:0.4em;
  background:#ECEFF1;
  z-index: -999;
}

.medium-star:before{
  content:"";
  position:absolute;
  background:#ECEFF1;
  width:4em;
  height:4.15em;
  transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  z-index: -999;
}

.medium-star:after{
  content:"";
  position:absolute;
  background:#ECEFF1;
  width:4em;
  height:4.15em;
  transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  z-index: -999;
}